<div class="container text-center">
  <div class="row">
    <div class="well about-style">
      <h2> About Us </h2>
      <p> We are DevMatch. Our company focuses on creating an exclusive community
      for developers, investors, and entreperneurs to meet. </p>
    </div>
  </div>
</div>